.app-wrapper {
  display:grid;
  margin: 0 auto;
  margin-top: -80px;
  width: 1200px;

  grid-template-areas: 
  "h h "
  "c c";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0px;
}
html {
  background-color: rgb(153, 153, 161);
}

.app-wrapper-content {
  grid-area: c;
  background-color: #ffffff;
  display: flex;
  justify-content: center;

}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}